.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  grid-template-rows: 1fr 2fr 1fr; /* Creates 3 rows */
  gap: 10px; /* Optional: Adds space between grid items */
}

.logo {
  display: grid;
  justify-content: center;
  height: 100%;
  
  img {
    min-width: 400px;
  }
}

.social-media {
  height: 100%;
  align-content: center;
  justify-content: center;
  display: grid;
}
